@import "src/styles/Colors";

.customButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $buttonBackground;
  transition: background-color 500ms ease;
  height: 60px;
  border-radius: 15px;
  box-sizing: border-box;
  border: none;


  &:hover {
    background-color: $inputHover;
  }
}
