@import "src/styles/Colors";

.customButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $buttonBackground;
  transition: background-color 500ms ease;
  height: 60px;
  border-radius: 15px;
  box-sizing: border-box;
  border: none;


  &:hover {
    background-color: $inputHover;
  }
}

.emptyArea {
  margin-top: 20%;
  text-align: center;
}
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
