@import "src/styles/Colors.scss";

body {
  background: $primaryBackground;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .customLayout{
    background: $primaryBackground;

    .layoutContent {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      max-width: 740px;
      margin: auto;
    }
  }


}
