@import "src/styles/Colors.scss";

body {
  background: $primaryBackground;

  .header {
    display: flex;
    justify-content: center;

    div:first-child {
      display: flex;

      .headerItem {
        width: 110px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        transition: background-color 500ms ease;
        font-size: 14px;
        padding: 10px;
        box-sizing: border-box;
        height: 62px;

        &:hover {
          background-color: $buttonBackground;
        }
      }
    }
  }

  .customLayout {
    background: $primaryBackground;

    .layoutContent {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      max-width: 940px;
      margin: auto;
    }
  }


}
