@import "src/styles/Common";

$modalBorderRadius: 8px;
$popoverBorderRadius: 8px;
body {
  .ant-back-top {
    * {
      border-radius: 100%;
    }

    .ant-back-top-content {
      background-color: $buttonBackground;

    }
  }

  .ant-btn {
    color: white;
  }

  .ant-btn:hover, .ant-btn:focus, .ant-btn-dangerous:hover, .ant-btn-dangerous:focus {
    background-color: transparent;
    color: white;
  }

  .ant-btn:hover, .ant-btn:focus, :not(ant-btn-dangerous) {
    border-color: white;
  }

  .ant-message-notice-content {
    background-color: $buttonBackground;
  }

  .ant-modal-content {

    .ant-modal-close, .ant-modal-close-x {
      border-top-right-radius: $modalBorderRadius;
    }

    .ant-modal-header {
      border-bottom: none;
      border-radius: $modalBorderRadius $modalBorderRadius 0 0;
    }

    .ant-modal-body {
      border-radius: 0 0 $modalBorderRadius $modalBorderRadius
    }

    * {
      background-color: $primaryBackground;
    }
  }

  .ant-popover {
    .ant-popover-content {
      border-radius: $popoverBorderRadius !important;
    }

    .ant-popover-inner-content {
      border-radius: $popoverBorderRadius !important;
    }

    border-radius: $popoverBorderRadius !important;

    .ant-popover-arrow {
      border-top-color: $primaryBackground !important;
      border-left-color: $primaryBackground !important;
    }

    * {
      transition: background-color 500ms ease;
      background-color: $primaryBackground;
      border-color: $primaryBackground;

      &:hover {
        background-color: $buttonBackground;
        cursor: pointer;
      }
    }
  }
}
